@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #f4e3ab;
}

header {
  background-color: #f4e3ab;
}
h2 {
  font-family: "Playfair Display", serif;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
}
#logo {
  width: 150px;
  margin-right: auto;
  margin-left: 1rem;
}

footer {
  background-color: #c77926;
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dog-image {
  max-width: 100%;
}

.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
} */

.list .burger-menu {
  overflow: hidden;
  background-color: #c77926;
  position: relative;
}

.list .burger-menu #myLinks {
  display: none;
}

.list .burger-menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.list .burger-menu a.icon {
  background: #c77926;
  display: block;
  /* position: absolute; */
  right: 0;
  top: 0;
}

.list .burger-menu a:hover {
  background-color: #f4e3ab;
  color: white;
}

/* Dynamic section */
.container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* media queries */

/* @media only screen and (min-width: 600px) {
  .burger-menu {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .desktop-list {
    display: none;
  }
} */

/* desktop view */
.container {
  margin: 0 auto;
  margin-top: 2rem;
  width: min(90%, 70.5rem);
  background-color: #f4e3ab;
}

/* Above is the Introduction for all the pages */

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
    margin-bottom: 2em;
  }
}
main img {
  border: 5px solid #c77926;
  background-repeat: no-repeat;
  background-position: cover;
}
