@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

header {
  background-color: white;
}
h2 {
  font-family: "Open Sans", sans-serif;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
#logo {
  width: 150px;
  /* margin-right: auto; */
  /* text-align: center; */
  /* margin: 0 auto; */
  padding: 0px;
  margin-left: 1rem;
  transition: 0.3s;
}

header p {
  font-family: "Montserrat", sans-serif;
}

#logo:hover {
  transform: scale(1.1);
}

a {
  color: #c77926;
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 2rem;
}

.dog-image {
  max-width: 100%;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .burger-menu {
  overflow: hidden;
  background-color: #c77926;
  position: relative;
}

.list .burger-menu #myLinks {
  display: none;
}

.list .burger-menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.list .burger-menu a.icon {
  background: #c77926;
  display: block;
  /* position: absolute; */
  right: 0;
  top: 0;
}

.list .burger-menu a:hover {
  background-color: #f4e3ab;
  color: white;
}

/* Dynamic section */
.container {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* desktop view */
.container {
  margin: 0 auto;
  margin-top: 2rem;
  width: min(90%, 70.5rem);
}

/* Above is the Introduction for all the pages */

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
    margin-bottom: 2em;
  }
}
main img {
  border: 5px solid #c77926;
  background-repeat: no-repeat;
  background-position: cover;
}

footer {
  background-color: #c77926;
  padding: 0;
  margin: 0px;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer a {
  color: #f4e3ab;
}
